<md-content class="md-padding">
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="home" name="creasic">Creasic</md-nav-item>
        <md-nav-item md-nav-sref="letras.todas" name="letras">Letras</md-nav-item>
        <md-nav-item md-nav-sref="secuenciasDeAcordes.todas" name="acordes">Secuencias de Acordes</md-nav-item>
        <md-nav-item md-nav-sref="canciones.todas" name="canciones">Canciones</md-nav-item>
        <span flex> </span>
        <md-nav-item md-nav-sref="perfil" name="perfil" ng-if="haySesion">Perfil</md-nav-item>
        <md-nav-item md-nav-sref="home" ng-click="cerrarSesion()" name="cerrarSesion" ng-if="haySesion">Cerrar Sesion</md-nav-item>
    </md-nav-bar>
</md-content>

<md-content flex layout-padding ui-view layout-wrap> </md-content>