<md-list flex>
    <md-list-item ng-if="haySesion" ui-sref="canciones.crear">
        <div class="md-list-item-text" layout="column">
            Crear Cancion
        </div>
    </md-list-item>
    <md-list-item ng-if="canciones.length === 0" class="md-3-line">
        <div layout="column" layout-align="center center">
            <p> Nadie ha creado ninguna canción todavía.</p>
            <a class="creasic-link"
               ui-sref="canciones.crear"
               ng-if="haySesion">
                ¿Querés ser el primero?
            </a>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="cancion in canciones" ui-sref="canciones.ver({id: cancion.id})">
        <div class="md-list-item-text" layout="row">
            <span class="titulo small">{{ cancion.titulo }}</span> by {{cancion.nombreUsuario}}
        </div>
    </md-list-item>
</md-list>
