<div layout="column" class="content-section">
    <div layout="column" flex="33">
        <div layout="row" layout-align="center center" ng-show="perteneceAlUsuario">
            <md-input-container md-no-float>
                <input ng-model="cancion.titulo" placeholder="Titulo">
            </md-input-container>
        </div>

        <div layout="column" layout-align="center center" ng-hide="perteneceAlUsuario">
            <span class="titulo">
                {{ cancion.titulo }}
            </span>
            by {{cancion.emailUsuario}}
        </div>
    </div>

    <br>

    <div layout="row" flex="33" layout-wrap layout-align="center center">
        <md-input-container class="md-block md-input-has-value" ng-show="perteneceAlUsuario" layout-fill layout-margin flex="80" md-no-float>
            <textarea ng-model="cancion.contenido" class="letra-contenido" placeholder="Contenido"></textarea>
        </md-input-container>

        <div class="letra" style="white-space: pre-line;" layout-fill layout-margin flex="80" ng-hide="perteneceAlUsuario">
            {{ cancion.contenido }}
        </div>
    </div>

    <div ng-show="modoEdicion">
        <comentarios-con-respuestas post="cancion" tipo-post="'cancion'" actualizar-post="cancionActualizada"></comentarios-con-respuestas>
    </div>

    <div ng-show="modoEdicion">
        <redes-sociales></redes-sociales>
    </div>

    <opciones>
        <md-button class="md-label" ng-click="guardar()" ng-show="perteneceAlUsuario">Guardar</md-button>
        <span ng-show="perteneceAlUsuario">|</span>
        <md-button class="md-label" ui-sref="canciones.todas">Cancelar</md-button>
    </opciones>
</div>