<div layout="row" ng-if="canciones.length > 0">
    <md-button ng-if="haySesion"
               class="md-raised boton-agregar"
               ui-sref="canciones.crear">
        Crear
    </md-button>
</div>

<div layout="column" class="content-section">
    <div layout="column" layout-align="center center" ng-if="canciones.length === 0">
        <p> Nadie ha creado ninguna canción todavía.</p>
        <a class="creasic-link" ng-if="haySesion" ui-sref="canciones.crear">¿Querés ser el primero?</a>
    </div>

    <md-list flex ng-if="canciones.length > 0">
        <md-list-item class="md-3-line" ng-repeat="cancion in canciones" ui-sref="canciones.ver({id: cancion.id})">
            <div class="md-list-item-text" layout="row">
                <span class="titulo small">{{ cancion.titulo }}</span> by {{ cancion.nombreUsuario }}
            </div>
        </md-list-item>
    </md-list>
</div>