<div layout="row" layout-align="start start">

    <md-input-container>
        <label>Titulo</label>
        <input ng-model="letra.titulo">
    </md-input-container>

</div>

<div>
    <md-input-container class="md-block md-input-has-value">
        <label for="input_31">Contenido</label>
        <div class="md-resize-wrapper">
            <textarea ng-model="letra.contenido" rows="5" md-select-on-focus="" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_31" aria-invalid="false" ng-trim="false" style="height: 135px;">

            </textarea>
            <div class="md-resize-handle" style="touch-action: pan-y;">

            </div>
        </div>
        <div class="md-errors-spacer">
            <div class="md-char-counter">102 / 150</div>
        </div>
    </md-input-container>
</div>

<md-button class="md-label" ui-sref="letras.todas">Cancelar</md-button>
<md-button class="md-label" ng-click="guardarLetra()">Guardar Letra</md-button>