<section flex layout="column" layout-align="center center">
    <p style="font-size: 30px; text-align: center">
        Creasic es una aplicación que te permite mostrarle tus ideas a personas apasionadas por
        la música como vos. Lo que buscamos es que puedas encontrar un lugar
        donde puedas concretar aquellos proyectos que alguna vez empezastes con la ayuda de la comunidad.
    <p>

    <p style="font-size: 25px; text-align: center">
        Vas a poder compartir alguna letra que tenés escritar por ahi, y ponerle vida
        con la ayuda de músicos registrados en Creasic.
        Vas a poder mejorar aquellos acordes que alguna vez practicaste
        con ayuda de músicos, e incluso, si vos o alguien más se inspira, ponerle letra.
        Incluso vas a poder subir tu tema, ese que en algún momento grabaste, y
        poder escuchar como un solo de guitarra grabado por una persona del otro lado de mundo.
        ¿Acaso no es todo esto genial?
    </p>

    <p style="font-size: 25px; text-align: center">
        ¡Bienvenido y esperamos que lo disfrutes!
    </p>

    <md-button class="md-raised md-warn" ng-click="iniciarSesion()" ng-if="!haySesion">Iniciar Sesion / Registrarse</md-button>
</section>