<div layout="column" class="content-section">
    <div layout="column" flex="33">
        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row" class="titulo">
                {{ usuario.nombre }}
            </div>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Descripcion</h4>
            </div>
            <md-input-container layout-fill layout-margin flex="80" md-no-float>
                <textarea aria-label ng-model="usuario.descripcion"></textarea>
            </md-input-container>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Gustos</h4>
            </div>
            <md-input-container layout-fill layout-margin flex="80" md-no-float>
                <textarea aria-label ng-model="usuario.gustos"></textarea>
            </md-input-container>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Intereses</h4>
            </div>
            <md-input-container layout-fill layout-margin flex="80" md-no-float>
                <textarea aria-label ng-model="usuario.intereses"></textarea>
            </md-input-container>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Instrumentos</h4>
            </div>
            <md-input-container layout-fill layout-margin flex="80" md-no-float>
                <textarea aria-label ng-model="usuario.instrumentos"></textarea>
            </md-input-container>
        </div>
    </div>

    <opciones>
        <md-button class="md-label" ng-click="guardar()">Guardar</md-button>
        |
        <md-button class="md-label" ng-click="volver()">Volver</md-button>
    </opciones>
</div>