<div layout="row" layout-align="center center">
    <md-content ng-show="hubo_errores">
        <md-list flex>
            <md-subheader class="md-no-sticky">Errores</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="error in errores" ng-click="null">
                <p>{{ error[0] }}</p>
            </md-list-item>
        </md-list>
    </md-content>

    <md-input-container>
        <label>Nombre de Usuario</label>
        <input ng-model="nuevo_usuario.nombre_de_usuario">
    </md-input-container>

    <md-input-container>
        <label>E-Mail</label>
        <input ng-model="nuevo_usuario.email" type="email">
    </md-input-container>

    <md-input-container>
        <label>Password</label>
        <input ng-model="nuevo_usuario.password" type="password">
    </md-input-container>

    <md-input-container>
        <label>Confirmacion de Password</label>
        <input ng-model="nuevo_usuario.confirmacion_de_password" type="password">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="registrarUsuario()">Registrar</md-button>
</div>