<div layout="row" layout-align="center center">
    <md-input-container>
        <label>Nombre de Usuario</label>
        <input ng-model="user.title">
    </md-input-container>

    <md-input-container>
        <label>E-Mail</label>
        <input ng-model="user.title">
    </md-input-container>

    <md-input-container>
        <label>Password</label>
        <input ng-model="user.email" type="password">
    </md-input-container>

    <md-input-container>
        <label>Re-Password</label>
        <input ng-model="user.title" type="password">
    </md-input-container>
</div>