<md-list flex>
    <md-list-item ng-if="haySesion" ui-sref="secuenciasDeAcordes.crear">
        <div class="md-list-item-text" layout="column">
            Crear Secuencia de Acordes
        </div>
    </md-list-item>
    <md-list-item ng-if="secuenciasDeAcordes.length === 0" class="md-3-line">
        <div class="md-list-item-text" layout="row">
            Nadie ha creado ninguna secuencia de acordes todavia.
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="secuencia in secuenciasDeAcordes" ui-sref="secuenciasDeAcordes.ver({id: secuencia.id})">
        <div class="md-list-item-text" layout="row">
            <span class="titulo small">{{ secuencia.titulo }}</span> by {{ secuencia.nombreUsuario }}
        </div>
    </md-list-item>
</md-list>