<div layout="column" class="content-section">
    <div layout="column" flex="33">
        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row" class="titulo">
                {{ usuario.nombre }}
            </div>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Descripcion</h4>
            </div>
            <span>{{ usuario.descripcion || "No ha dado informacion al respecto." }}</span>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Gustos</h4>
            </div>
            <span>{{ usuario.gustos || "No ha dado informacion al respecto." }}</span>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Intereses</h4>
            </div>
            <span>{{ usuario.intereses || "No ha dado informacion al respecto." }}</span>
        </div>

        <div layout="column" flex="33" layout-wrap layout-align="center center">
            <div layout="row">
                <h4>Instrumentos</h4>
            </div>
            <span>{{ usuario.instrumentos || "No ha dado informacion al respecto." }}</span>
        </div>
    </div>

    <br>

    <opciones>
        <md-button class="md-label" ng-click="volver()">Volver</md-button>
    </opciones>
</div>