<div layout="column" layout-align="center center">
    <div>
        <h1 ng-hide="enModoEdicion" style="color: orangered">{{ letra.titulo }} </h1>

        <md-input-container ng-show="enModoEdicion">
            <label>Titulo</label>
            <input ng-model="letra.titulo">
        </md-input-container>
    </div>

    <h5 ng-hide="enModoEdicion">by David</h5>
</div>

<div>
    <md-content ng-hide="enModoEdicion" style="white-space: pre-line;" flex="90" flex-offset="5">
        {{ letra.contenido }}
    </md-content>

    <md-input-container class="md-block" ng-show="enModoEdicion" flex="90" flex-offset="5">
        <label>Contenido</label>
        <div class="md-resize-wrapper">
            <textarea ng-model="letra.contenido" rows="5" aria-invalid="false">
            </textarea>
        </div>
    </md-input-container>
</div>

<br>

<br>

<md-divider></md-divider>

<div>
    <div style="padding-top: 20px;">
        <span>
            Comentarios ({{ letra.comentarios.length }})
        </span>
    </div>
</div>

<div ng-repeat="comentario in letra.comentarios">
    <md-card md-theme-watch>
        <md-card-title>
            <span>{{comentario.contenido}}</span>
        </md-card-title>

        <md-card flex-offset="10" md-theme-watch ng-repeat="respuesta in comentario.respuestas">
            <md-card-title>
                <span> {{respuesta.contenido}} </span>
            </md-card-title>
        </md-card>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="responder(comentario)">Responder</md-button>
        </md-card-actions>

        <md-card flex-offset="10" md-theme-watch ng-show="estaRespondiendo(comentario.id)">
            <md-card-title-text>
                <md-input-container class="md-block md-input-has-value">
                    <label for="input_31">Respuesta</label>
                    <div class="md-resize-wrapper">
                        <textarea ng-model="respuesta.contenido" rows="1" md-select-on-focus="" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_31" aria-invalid="false" ng-trim="false" style="height: 135px;">
                        </textarea>
                    </div>
                </md-input-container>
            </md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="cancelarRespuesta()">Cancelar</md-button>
                <md-button ng-click="guardarRespuesta()">Aceptar</md-button>
            </md-card-actions>
        </md-card>
    </md-card>
</div>

<md-button ng-click="comentar()" ng-if="!comentando">Comentar</md-button>

<md-card md-theme-watch ng-if="comentando">
    <md-card-title>
        <md-card-title-text>
            <md-input-container class="md-block md-input-has-value">
                <label for="input_31">Comentario</label>
                <div class="md-resize-wrapper">
                        <textarea ng-model="comentario.contenido" rows="1" md-select-on-focus="" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_31" aria-invalid="false" ng-trim="false" style="height: 135px;">
                        </textarea>
                </div>
            </md-input-container>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="cancelarComentario()">Cancelar</md-button>
        <md-button ng-click="guardarComentario()">Aceptar</md-button>
    </md-card-actions>
</md-card>

<br>

<br>

<md-divider></md-divider>

<section layout="row" layout-sm="column" layout-wrap>
    <md-button class="md-label" ng-click="entrarModoEdicion()" ng-hide="enModoEdicion">Editar</md-button>
    <md-button class="md-label" ui-sref="letras.todas" ng-hide="enModoEdicion">Volver</md-button>

    <md-button class="md-label" ng-click="guardarEdicion()" ng-show="enModoEdicion">Guardar</md-button>
    <md-button class="md-label" ng-click="cancelarModoEdicion()" ng-show="enModoEdicion">Cancelar</md-button>
</section>