<div>
    <div style="padding-top: 20px;">
        <span>
            Comentarios ({{ cantidadDeComentarios() }})
        </span>
    </div>
</div>

<div ng-repeat="comentario in post.comentarios">
    <md-card md-theme-watch>
        <md-card-title>
            <span>
                {{comentario.emailUsuario}} dijo:
                <br>
                <br>
                {{comentario.contenido}}
            </span>
        </md-card-title>

        <audio controls ng-src="{{ urlFor(comentario) }}"></audio>

        <md-card layout="raw" layout-align="center end" flex-offset="10" md-theme-watch ng-repeat="respuesta in comentario.respuestas">
            <md-card-title>
                <span>
                    {{respuesta.emailUsuario}} dijo:
                    <br>
                    <br>
                    {{respuesta.contenido}}
                </span>
            </md-card-title>
            <votos post="respuesta"></votos>
        </md-card>

            <md-card-actions layout="raw" layout-align="space-between start">
                <votos post="comentario"></votos>
                <md-button ng-click="responder(comentario)" ng-show="sePuedeResponder()">Responder</md-button>
            </md-card-actions>

        <md-card flex-offset="10" md-theme-watch ng-show="estaRespondiendo(comentario.id)">
            <md-card-title-text>
                <md-input-container class="md-block md-input-has-value">
                    <label for="input_31">Respuesta</label>
                    <div class="md-resize-wrapper">
                        <textarea ng-model="respuesta.contenido" rows="1" md-select-on-focus="" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_31" aria-invalid="false" ng-trim="false" style="height: 135px;">
                        </textarea>
                    </div>
                </md-input-container>
            </md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="cancelarRespuesta()">Cancelar</md-button>
                <md-button ng-click="guardarRespuesta()">Aceptar</md-button>
            </md-card-actions>
        </md-card>
    </md-card>
</div>

<md-card md-theme-watch ng-show="comentando">
    <md-card-title>
        <md-card-title-text>
            <md-input-container class="md-block md-input-has-value">
                <label for="input_31">Comentario</label>
                <div class="md-resize-wrapper">
                        <textarea ng-model="comentario.contenido" rows="1" md-select-on-focus="" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_31" aria-invalid="false" ng-trim="false" style="height: 135px;">
                        </textarea>
                </div>
            </md-input-container>
        </md-card-title-text>
        <md-card-title-media>
            <recorder data="comentario"></recorder>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="cancelarComentario()">Cancelar</md-button>
        <md-button ng-click="guardarComentario()">Aceptar</md-button>
    </md-card-actions>
</md-card>

<md-button ng-click="comentar()" ng-show="sePuedeComentar()">Comentar</md-button>