<md-divider></md-divider>

<div layout="row" layout-align="center center" style="margin: 5px">
    <div layout="row" class="redes-sociales">
        <div class="red-social" ng-click="compartirEnFacebook()">
            <img src="http://res.cloudinary.com/dzfxwe6la/image/upload/v1479067277/images/facebook_share.png">
        </div>
        <div class="red-social" ng-click="compartirEnTwitter()">
            <img src="http://res.cloudinary.com/dzfxwe6la/image/upload/v1479067277/images/twitter_share.png">
        </div>
        <div class="red-social" ng-click="compartirEnGooglePlus()">
            <img src="http://res.cloudinary.com/dzfxwe6la/image/upload/v1479067277/images/google_share.png">
        </div>
        <div class="red-social" ng-click="compartirEnTumblr()">
            <img src="http://res.cloudinary.com/dzfxwe6la/image/upload/v1479067277/images/tumblr_share.png">
        </div>
    </div>
</div>
